* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

:root {
    --light-color: rgb(245, 250, 255);
    --dark-color: #212529;
    --font-size: calc(20px + 1vw);
    --dark-grey: darkgrey;
    --light-blue: #e8f7ff;
    --light-green: #c0eb75;
    --warm-accent: #e599f7;
    --cool-accent: #a3daff;
    --error: #e03131;
    --variable: #99e9f2;
    --violet: #b197fc;

    /* Open Color */
    --grape-5: #cc5de8;
    --violet-5: #845ef7;
    --indigo-5: #5c7cfa;
    --blue-5: #329af0;
    --cyan-5: #22b8cf;
    --teal-5: #20c997;
    --green-5: #51cf66;

    /* Timings */
    --dramatic: 2s;
    --delay: 1s;
}

body {
    background: var(--light-color);
    color: var(--dark-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--font-size);
    scroll-snap-type: mandatory;
}

h1 {
    font-size: 3.5em;
}

.function {
    color: var(--violet);
}

.faded {
    transition: 1s;
}

.visible .faded {
    opacity: 0.25;
}

.support {
    display: flex;
}

pre {
    color: white;
    padding: 1em;
}

section {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    justify-content: space-between;
    padding: 1em;
    scroll-snap-coordinate: top;
}

.code {
    background: var(--dark-color);
}

code {
    color: rgb(255, 255, 255);
    font-family: 'Fira Code';
    font-weight: 800;
}

.no-support {
    opacity: 0.5;
}

.some-support {
    opacity: 0.9;
}

.red {
    color: red;
}

.comment {
    color: #dee2e6;
    font-weight: 400;
    font-style: italic;
}

section[data-api="vibration"][data-example="basic"]:hover img {
    animation: 0.1s 2s 10 vibrate;
}

section[data-api="vibration"][data-example="alternating"]:hover img {
    animation: 0.1s linear 2s 10 vibrate, 0.1s linear 3.5s 10 vibrate;
}

@keyframes vibrate {
    50% { transform: rotate(1deg) translateX(1px); }
    100% { transform: rotate(-1deg) translateX(-1px);}
}

.string {
    color: var(--light-green);
    font-weight: 300;
    font-style: italic;
}

var {
    color: var(--variable);
    font-style: normal;
}

.variable, var {
    color: #72c3fc;
}

.parameter {
    color: #ffe066;
}

.support img {
    height: 210px;
}

.quote {
    overflow: hidden;
}

.quote figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 2.5em;
    width: 90vw;
}

.quote blockquote {
    font-weight: 700;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Slide 2 */
[data-author="jenson"] span {
    opacity: 0;
    transition: 1s;
}

[data-author="jenson"].visible span {
    opacity: 1;
}

[data-author="jenson"] span:nth-child(2) {
    transition-delay: 1s;
    transition-duration: 2s;
}

[data-author="jenson"] span:nth-child(3) {
    transition-delay: 2.5s;
}

.quote cite {
    color: #1862ab;
}

cite {
    align-self: flex-end;
}

.quote figcaption {
    text-align: right;
    position: relative;
}

.quote figcaption::before {
    content: '\2014';
    display: inline-block;
    padding-right: 0.5em;
}

.quote figcaption::after {
    color: #1862ab;
    content: "\201D";
    position: absolute;
    right: 0;
    transform: scale(20) translateY(20%) translateX(-15%);
    opacity: 0.9;
    mix-blend-mode: exclusion;
}

@media all and (display-mode: fullscreen) {
    body {
	cursor: none;
    }
}

/* Slide 4 */
[id=input] {
    position: relative;
    overflow: hidden;
    background: skyblue;
    justify-content: center;
    align-items: center;
    color: white;
}

[id=screenshot] {
    align-self: flex-start;
    mix-blend-mode: exclusion;
    opacity: 0;
    transition: 0.5s 10s;
}

.visible [id=screenshot] {
    opacity: 1;
}

[id=typewriter] {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 100% 65%;
    mix-blend-mode: luminosity;
    filter: contrast(2) brightness(2);
}


meter {
    background: transparent;
    display: block;
}

.visible meter {
    width: 100%;
}

::-moz-meter-bar {
    background: var(--green-5);
}

/* Slide 3 */
[id=smartphone-distribution] div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

[id=smartphone-distribution] figure {
    flex-basis: 50%;
    text-align: center;
}

[id=smartphone-distribution] strong {
    font-size: 4em;
}

/* Jobs Quote */
[data-author=jobs] em {
    font-style: normal;
    font-weight: inherit;
}

[id=uni] {
    color: transparent;
    position: relative;
    transition: color 1s 3s;
}

[id=uni]::after {
    color: var(--dark-color);
    content: ' bi';
    position: absolute;
    opacity: 1;
    right: 0;
    transition: inherit;
}

.visible [id=uni] {
    color: inherit;
}

.visible [id=uni]::after {
    color: transparent;
}

/* Election Example */
[data-example=election] {
    align-items: center;
    justify-content: center;
}

[data-example=election] > div {
    animation: 0.1s 2s 10 vibrate paused;
    animation-delay: 5s;
}

[data-example=election] h2 {
    text-transform: uppercase;
    transform: translateY(-2em);
    font-size: 3em;
    mix-blend-mode: color-burn;
    opacity: 0;
    transition: opacity 0.2s 5s;
}

[data-example=election].visible h2 {
    opacity: 1;
}

@keyframes vibrate {
  50% { transform: rotate(1deg) translateX(1px); }
  100% { transform: rotate(-1deg) translateX(-1px);}
}

.person {
    width: calc(768px / 6);
    overflow: hidden;
    height: 200px;
    display: inline-block;
    animation: move steps(5) 2s 10 paused;
}

.visible .person,
[data-example=election].visible div {
    animation-play-state: running;
}

@keyframes move {
    to {
	background-position: calc(728px / 6 * 5);
    }
}



[id=hilary] {
    background: url(https://interactive.guim.co.uk/thrashers/us_election_front/hashed/clinton.99208c97.png) 0 / 728px 100%;
}

[id=trump] {
    background: url(https://interactive.guim.co.uk/thrashers/us_election_front/hashed/trump.93a36b22.png) 0 / 728px 100%;
    animation-delay: 0.5s;
    animation-duration: 3s;
}
